.group {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/008/847/original/pexels-elia-clerici-912110.jpg?1620829930)
    center fixed;
  display: block;
  margin: 40px auto;
  margin-bottom: 16px;
  border: 3px solid #ea64ae;
  max-width: 480px;
  border-radius: 10px;
  box-shadow: 7px 7px 30px rgb(0, 0, 0, 0.12);
}

.row.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px 40px;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  color: #636466;
  background: #ea64ae;
  border: 3px solid rebeccapurple;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  font-weight: 500;
  width: 240px;
  flex: 1;
  max-width: 100%;
}

.search,
.submitSearch {
  margin: 0;
  padding: 0;
}

.searchButton {
  background: #ea64ae;
  border: 3px solid rebeccapurple;
  border-radius: 5px;
  padding: 7px 7px;
  color: #636466;
  box-shadow: 5px 5px 10px rgba(36, 16, 16, 0.2);
  transition: all 200ms ease-in-out;
  font-weight: 500;
  display: block;
  margin: 0 auto;
}

.searchButton:hover {
  background: #f274b9;
}

.currentButton {
  background: #ee858f;
  border: 3px solid rebeccapurple;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 7px 12px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
.currentButton:hover {
  background: #ef949c;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #ee858f;
  margin-bottom: 4px;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
}

.cityTitle {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #e81224;
}

.growingHeart {
  filter: brightness(103%);
  padding: 1px 4px 0px 4px;
  position: relative;
  bottom: 3px;
}

.noteDate {
  text-align: center;
  color: #e81224;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  margin-top: 0;
}

.date {
  text-align: center;
  color: #e81224;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  margin-top: 0;
}

.icon {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
}

a {
  text-align: center;
  text-decoration: none;
  color: #585b5d;
}

a:hover {
  color: #ea64ae;
}

.celsius {
  font-size: 30px;
  position: relative;
  bottom: 0.5px;
}

.fahrenheit {
  font-size: 31.5px;
}

.slash {
  color: #636466;
  font-size: 26px;
  position: relative;
  bottom: 3px;
  left: 1.5px;
}

.weatherSection {
  position: relative;
  top: -7px;
}

.degreesSection {
  text-align: center;
  position: relative;
  left: -5px;
}

.degreesC,
.degreesF {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: rebeccapurple;
  padding-left: 5px;
}

.note {
  color: #636466;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}
.extraDetails {
  color: #636466;
  font-size: 13.3px;
  text-align: center;
  margin-top: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}

.forecast {
  text-align: center;
  padding: 30px 47px;
  margin-bottom: 15px;
}

h2 {
  font-size: 16px;
  color: #e81224;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
}
h3 {
  font-size: 13px;
  color: #636466;
  font-weight: normal;
  margin-bottom: 6px;
}

img.forecastIcon {
  display: block;
  margin: 0 auto;
  position: relative;
  left: -1px;
}

p {
  text-align: center;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.codeLink {
  color: #ea64ae;
  margin-top: 0;
}

.codeLink:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .searchButton {
    padding: 7px 4px;
    font-size: 13px;
  }
  .city {
    font-size: 13px;
  }
  .currentButton img {
    width: 10px;
  }
  .currentButton {
    padding: 4.5px 7px;
  }
  .row.topRow {
    padding: 0px 20px;
  }
  h1 {
    font-size: 27px;
  }
  .growingHeart {
    width: 40px;
  }
  .icon {
    width: 70px;
  }
  .forecast {
    padding: 30px 22px;
  }
  h2 {
    font-size: 14px;
  }
  img.forecastIcon {
    width: 20px;
  }
}
