.group {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/008/847/original/pexels-elia-clerici-912110.jpg?1620829930)
    center fixed;
  display: block;
  margin: 40px auto;
  margin-bottom: 16px;
  border: 3px solid #ee858f;
  max-width: 480px;
  border-radius: 10px;
  box-shadow: 7px 7px 30px rgb(0, 0, 0, 0.12);
}

.row.topRow {
  padding: 0px 43px;
  margin-right: 1px;
  font-family: "Montserrat", sans-serif;
}

.row.searchBar {
  text-align: center;
  margin-top: 50px;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.city {
  color: #636466;
  background: #ea64ae;
  border: 3px solid rebeccapurple;
  border-radius: 5px;
  padding: 7px 3.5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  font-weight: 500;
}

.searchButton {
  background: #ea64ae;
  border: 3px solid rebeccapurple;
  border-radius: 5px;
  padding: 7px 7px;
  color: #636466;
  box-shadow: 5px 5px 10px rgba(36, 16, 16, 0.2);
  margin-left: 11.1px;
  margin-right: 0;
  transition: all 200ms ease-in-out;
  font-weight: 500;
}
.searchButton:hover {
  background: #f274b9;
}

.currentButton {
  background: #ee858f;
  border: 3px solid rebeccapurple;
  border-radius: 5px;
  padding: 7px 10px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  margin-left: 2.5px;
  margin-top: 50px;
  transition: all 200ms ease-in-out;
}
.currentButton:hover {
  background: #ef949c;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #ee858f;
  margin-bottom: 4px;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
}

.cityTitle {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #e81224;
}

.growingHeart {
  filter: brightness(103%);
  padding: 1px 4px 0px 4px;
  position: relative;
  bottom: 3px;
}

.noteDate {
  text-align: center;
  color: #e81224;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  margin-top: 0;
}

.date {
  text-align: center;
  color: #e81224;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  margin-top: 0;
}

.icon {
  filter: hue-rotate(-16deg) brightness(138%);
  display: block;
  margin: 0 auto;
  position: relative;
  top: -3px;
}

a {
  text-align: center;
  text-decoration: none;
  color: #585b5d;
}

a:hover {
  color: #ea64ae;
}

.celsius {
  font-size: 30px;
  position: relative;
  bottom: 0.5px;
}

.fahrenheit {
  font-size: 31.5px;
}

.slash {
  color: #636466;
  font-size: 26px;
  position: relative;
  bottom: 3px;
  left: 1.5px;
}

.weatherSection {
  position: relative;
  top: -34px;
}

.degreesSection {
  text-align: center;
  position: relative;
  left: -5px;
  top: 4px;
}

.degreesC,
.degreesF {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: rebeccapurple;
  padding-left: 5px;
}

.note {
  color: #636466;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}
.extraDetails {
  color: #636466;
  font-size: 13.3px;
  text-align: center;
  margin-top: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}

.forecast {
  text-align: center;
  padding: 20px 40px;
  margin-bottom: 15px;
}

h2 {
  font-size: 15px;
  color: #e81224;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
  text-align: center;
}
h3 {
  font-size: 13px;
  color: #636466;
  font-weight: normal;
  margin-bottom: 3px;
  text-align: center;
}

.maxTempForecast {
  font-weight: 700;
}

img.forecastIcon {
  display: block;
  margin: 0 auto;
  filter: hue-rotate(-16deg) brightness(138%);
  position: relative;
  top: -4px;
}

p {
  text-align: center;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.codeLink {
  color: #ea64ae;
  margin-top: 0;
}

.codeLink:hover {
  text-decoration: underline;
}
